
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>USER SYSTEM</mat-toolbar>
    <mat-nav-list>


      <ul>
        <li *ngIf="user_type==1">

          <button class="menu_button" mat-raised-button color="primary"  [routerLink]="['user']"
            routerLinkActive="router-link-active">
            <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;&nbsp;Dashboard
          </button>
        </li>
        <li *ngIf="user_type==2">
          <button class="menu_button" mat-button [routerLink]="['/menu']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>&nbsp;&nbsp;&nbsp; User
          </button>
        </li>
        <li *ngIf="user_type!=2">
          <button class="menu_button" mat-button  routerLinkActive="router-link-active">
            <i class="material-icons">how_to_reg</i>&nbsp;&nbsp;&nbsp; Setting
          </button>
        </li>
      </ul>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <button mat-raised-button (click)="onLogOut()" style="margin-left:950px;">Log Out</button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
